#button {
    background-color: #667eea;
    color: white;
    border-color: #667eea;
    border-radius: 5px;
}

.fail {
    background-color: rgb(194, 116, 116);
    color: red;
}

.success {
    background-color: aquamarine;
    color: green;

}

input {
    border-radius: 5px solid gray;
    margin: 10px;
    width: 200px;
}