#button {
    background-color: #667eea;
    color: white;
    border-color: #667eea;
    border-radius: 5px;
}

.fail {
    background-color: #fed7d7;
    color: #752b2c;
    border-color: #fc9796;
}

.success {
    background-color: rgb(198, 246, 213);
    color: rgb(34, 85, 62);
    border-color: rgb(167, 234, 190);

}

input {
    border-radius: 5px solid gray;
    margin: 10px;
    width: 200px;
}

#countWords {
    background-color: #f8fafc;
    width: 200px;
    text-align: center;
    margin: 10px;
}