.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background-color: transparent;
}


.borderBlue {
    border-color: blue;
    border-radius: 5px;
}