button {
    background-color: rgb(25, 27, 26);
    color: white;
    border-color: rgb(25, 27, 26);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

#flexUser {
    justify-items: center;

    /* display: flex;
    flex-direction: row; */
}

#friends {
    display: flex;
    flex-direction: row;
}

#down {
    display: flex;
    flex-direction: row;
}

#top {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}

img {
    width: 12%;
    height: 12%;
    border-radius: 50%;
    margin: 5px;
}

#right {
    width: 20%;
    /* position: relative; */
    background-color: black;
    color: white;
    left: 0px;
    /* margin-left: 20px; */
}


#left {
    width: 75%;

}