button {
    background-color: rgb(25, 27, 26);
    color: white;
    border-color: rgb(25, 27, 26);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

#flexUser {
    justify-items: center;
}

#down {
    display: flex;
    flex-direction: row;

}

#top {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
}

#right {
    margin-left: auto;
    width: 20%;
    background-color: black;
    color: white;
    left: 0px;
}


#left {
    width: 75%;
}

#friends {
    justify-content: space-evenly;
    flex-grow: 1;
    height: 100%;
    padding-left: 40px;
}