button {
    background-color: aquamarine;
    color: white;
    border-color: aquamarine;
    border-radius: 5px;
}

#flexUser {
    display: flex;
    flex-direction: row;
}

#friends {
    display: flex;
    flex-direction: column;
}